*{
    margin: 0;
    padding: 0;
}

html,body{
    background:black;
    margin:0;
    padding:0
    
}


html {
    scroll-behavior: smooth;
  }
/* stylign for navbar  */
.navbar{
    background: #000000ca;
    box-shadow: 0 0 20px 3px cyan;
    border-bottom-left-radius: 70px;
    color: cyan;
    padding-top: 5px;
    padding-bottom: 5px;
    
   
}

.logo{
    height: 50px;
    margin-left: 30px;
}

.ham{
   
   color: cyan;
   font-size: 1em;
   
}

.navbar li {
  font-size: 1em; 
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  width: auto;
  color: cyan;
  text-shadow: 0 0 20px cyan;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}
.navbar  .nav-link{
  
  /* background: rgba(150, 173, 173, 0.548); */
  font-family: 'Orbitron', sans-serif;
  color: cyan;
  text-shadow: 2px 2px 10px cyan;
  margin-bottom: 3px;
  border: 2px solid #0ae0df;
  border-radius: 15px;
  padding-bottom: 3px;
}
.nav-item:hover{
  transform: scale(1.01) !important;
  text-shadow: 0 0 10px cyan;
  color: lightcyan;
  text-decoration: none;
  background-color: #0ae0e026;
  font-weight: 600;
  
  
}




/* styling for main landing page  */

#main{
    background: rgba(0, 255, 255, 0.52);
    background: radial-gradient(circle, rgba(0, 255, 255, 0.096) 5%, rgba(3, 9, 10, 0.692) 38%, rgba(16, 43, 42, 0.514) 96%),url('./images/professional-esport-gamer-playing-game-tournament\ .jpg');
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    transition: box-shadow .3s ease-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 10vh;

}

#main:hover{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
}


.home-text{
    text-align: center;
    font-family: 'Orbitron', sans-serif !important;
    font-weight: 300;
    line-height: 58px;
    font-size: 50px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btton{
    font-family: 'Orbitron', monospace;
    position: relative;
    margin-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;  
    text-align: center; 
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.home-btton:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    border-radius: none;
    text-decoration: none;
}


.home-btton span{
    position: absolute;
    display: block;

}


.home-btton span:nth-child(1)
{
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, 
    #03e9f4);
    animation: animate1 1s linear infinite;
    

}
@keyframes animate1{
    0%
    {
        left: -100%;
    }
    50%, 100% 
    {
        left: 100%;
    }
}
.home-btton span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, 
    #03e9f4);
    animation: animate1 1s linear infinite;
    

}
@keyframes animate1{
    0%
    {
        left: -100%;
    }
    50%, 100% 
    {
        left: 100%;
    }
}
.home-btton span:nth-child(2)
{
    top: -100;
    right:0 ;
    /* left: -100; */
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, 
    #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s; 

}
@keyframes animate2{
    0%
    {
        top: -100%;
    }
    50%, 100% 
    {
        top: 100%;
    }
}
.home-btton span:nth-child(3)
{
    bottom: 0;
    right:-100% ;
    /* left: -100; */
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, 
    #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s; 

}
@keyframes animate3{
    0%
    {
        right: -100%;
    }
    50%, 100% 
    {
        right: 100%;
    }
}
.home-btton span:nth-child(4)
{
    bottom: -100%;
    left: 0 ;
    height: 100%;
    width: 2px;
    background: linear-gradient(-90deg,transparent, 
    #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s; 

}
@keyframes animate4{
    0%
    {
        bottom: -100%;
    }
    50%, 100% 
    {
        bottom: 100%;
    }
}

/* end of main landing page styling  */

/* styling of about us section  */

#about-us{
    padding-bottom: 100px;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.096) 5%, rgba(3, 9, 10, 0.692) 38%, rgba(16, 43, 42, 0.514) 96%),url('./images/cod.jpg');
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, top;
    width: 100%;
    min-height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



#about-us h1{
    margin-top: 30px;
}
#about-us p{
    color: cyan;
    font-family: sans-serif;
    font-size: 20px;
    
}

/* end of about us styling  */

.event-block{
position: relative;  
  margin-top: 10vh;
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 20vh;
 
}

.table tr {
	text-shadow: 0 0 10px cyan;
	color: lightcyan;
	text-align: justify;
	font-family: 'Source Code Pro', monospace;
	line-height: 40px;
	
}

tr:hover{
  transform: scale(1.01);
  background-color: rgba(0, 221, 255, 0.096);
}

.tablehead{

  text-shadow: 0 0 10px cyan;
	color: lightcyan;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  
  .mainblock{
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .table tr{
    font-size: 15px;
  }

  #main{
      min-height: 80vh;
  }
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    height: 10vw;
    background-color: rgb(179, 237, 245);
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.partners{
    padding-top: 50px;
    padding-bottom: 80px;
}
#team{
    background-color: #122023;
    padding-top: 50px;
}

.cardcontainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #122023;
    padding: 50px;
    border-radius: 10px;
}

.card{
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif !important;
    border: 2px solid #0ae0df;
    color: #fff;
    padding: 1em;
    background-color: #0D2C36;
    box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0;
    border-radius: 10px;
}

.dp{
    position: relative;
}
.dp img{
    max-width: 12rem !important;
    object-fit:cover;
    max-height: 12rem ;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dp .dp-arc-inner {
    position: absolute;
    width: 12rem;
    height: 12rem;
    border: 6px solid transparent;
    border-top-color: #0ae0df;
    border-radius: 50%;
    left: calc(50% - 6rem);
    animation-duration: 2s;
    animation-name: rotate-clock;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* display: none; */
  }
  
  @keyframes rotate-clock {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.dp .dp-arc-outer {
    position: absolute;
    width: calc(12rem + 12px);
    height: calc(12rem + 12px);
    border: 6px solid transparent;
    border-bottom-color: #0AE0DF;
    border-radius: 50%;
    left:  calc(50% - 6.2rem);
    top:  calc(50% - 6.2rem);
    animation-duration: 2s;
    animation-name: rotate-anticlock;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotate-anticlock {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

.card-body{
    text-align: center !important;
}

.card-body h5{
    text-shadow: 0 0 10px cyan;
	color: lightcyan;
}
.card-text{
    font-family: sans-serif !important;
}
.icon{
    background-color: white;
}

#team .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    background-color: #0ae0e026;
    line-height: 20px;
    text-shadow: 0 0 10px cyan;
	color: lightcyan;
    margin:5px;
    border-radius: 5px;
  }
  

#team .fa:hover {
    transform: scale(1.1) !important;
    text-shadow: 0 0 10px cyan;
	color: lightcyan;
    text-decoration: none;
}



/* styling for footer   */
.footer{
    background-color: #122023;
    padding: 70px 0;
}
.col h4{
    font-size: 18px;
    color: cyan;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 70px;

}
.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: lightcyan;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.col ul li a:hover{
    color: lightcyan;
    padding-left: 8px;
}
.col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0  10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.col .social-links a:hover{
    color: #122023;
    background-color: #ffffff;
}
.col ul{
    padding-left: 0px;
}
@media(max-width:767 px){
    .col{
        width: 50%;
        margin-bottom: 30px;
    }

}
@media(max-width:574 px){
    .col{
        width: 100%;
    }
}

/* end of footer styling */

.copyright{
    color: lightcyan;
}
.copyright a{
    text-decoration: none;
    color: lightcyan;
}


#contact-us{
    padding-bottom: 10vh;
    padding-top: 10vh;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.096) 5%, rgba(3, 9, 10, 0.692) 38%, rgba(16, 43, 42, 0.514) 96%),url('./images/bgimage.jpg');
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, top;
    width: 100%;
    min-height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



#contact-us h1{
    margin-top: 30px;
}
#contact-us p{
    color: cyan;
    font-family: sans-serif;
    font-size: 20px;
    
}
#contact-us a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
  
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
   
}

#contact-us .btn{
    background-color:rgba(36, 35, 35,0.5);
    padding:0.5vw;
    color:white;
    border:0px;
    width:100%;
    font-size:15px;
    cursor:caret;
  }
  
#contact-us a:nth-child(1){
      filter: hue-rotate(270deg);
  }
  #contact-us a:nth-child(2){
      filter: hue-rotate(110deg);
  }
  #contact-us a span{
      position: absolute;
      display: block;
  }
  #contact-us a span:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,#03e9f4);
      animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
      0%{
          left: -100%;
      }
      50%,100%{
          left: 100%;
      }
  }
  #contact-us a span:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#03e9f4);
      animation: animate2c 1s linear infinite;
      animation-delay: 0.25s;
  }
  @keyframes animate2c{
      0%{
          top: -100%;
      }
      50%,100%{
          top: 100%;
      }
  }
  #contact-us a span:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,#03e9f4);
      animation: animate3b 1s linear infinite;
      animation-delay: 0.50s;
  }
  @keyframes animate3b{
      0%{
          right: -100%;
      }
      50%,100%{
          right: 100%;
      }
  }
  
 #contact-us a span:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#03e9f4);
      animation: animate4b 1s linear infinite;
      animation-delay: 0.75s;
  }
@keyframes animate4b{
      0%{
          bottom: -100%;
      }
      50%,100%{
          bottom: 100%;
      }
  }
#contact-us  input {
  
      display: block;
      width: 70vw;
      border-radius: 3px;
      padding: 10vh 15vw;
      margin: 0 auto 10px auto;
      display: block;
      text-align: left;
      font-size: 18px;
      color: rgb(255, 255, 255);
      font-weight: 300;
    }
  
  
#contact-us .btn-contact{
      border-radius: 30px;
      border: 0px;
      margin-top: 5vw;
      padding: 18px 45px;
      margin-bottom: 2.5vw;
  }


@media only screen and (max-width: 600px) {
   
}



#games h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
  
  #games{
      padding: 3.5rem 2rem;
      background-size: cover;
      /* border to this section */
   background-color: black;  
   border: 2px solid cyan;
   box-shadow: inset 0 0 20px 8px cyan;
  }
  
  #games  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  #games  .col1{
    width: 365px;
    margin: 2rem;
    cursor: pointer;
  }
  
  #games  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  #games  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  
  #games  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  #games  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  #games  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
   #games .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  #games  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      /* padding: 2rem; */
      padding:0 1rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  #games  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  #games  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  #games  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  #games  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  #games  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  #games  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  #games  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }